
body {
    background-color: #2c3e50;
    color: #2c3e50;
    margin: 0;
    padding: 0;
  }

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
    opacity: 1;
    }
}
.bgImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
    animation: fadeIn 0.5s linear;
}

.hello {
    margin: 20vh auto 0 auto;
    text-align: center;
    font-size: 30px;
}
 
.css-clock {
    margin: 10vh auto 0 auto;
    text-align: center;
    font-size: 20px;
}

.btn {
    cursor: pointer;
}

.clicked {
    color: #7f8c8d;
}

.form,
.greetings {
    display: none;
}

.showing {
    display: block;
}

.input {
    margin: 0 auto;
    text-align: center;
}

.weather {
    margin: 0 auto;
    text-align: center;
}

